*.*~
*.swp
**/.idea/workspace.xml
**/.idea/tasks.xml
*.iws
**/node_modules
**/target/
*.map
**/.tscache
.baseDir.ts
**/js/compiled/
tscommand*
overlays
*.vux
**/gen
**/webapp/resources/thrift/*
*~*
*.jar
!**/3dparty/*.jar
**/.idea/**
!**/.idea/misc.xml
!**/.idea/modules.xml
!**/.idea/encodings.xml
!**/.idea/vcs.xml
!**/.idea/compiler.xml
*.bak*
*.vbak*