*.*~
*.swp
**/.idea/workspace.xml
**/.idea/tasks.xml
*.iws
**/node_modules
**/target/
*.map
**/.tscache
.baseDir.ts
**/js/compiled/
tscommand*
overlays
*.vux
**/gen
**/webapp/resources/thrift/*
*~*
