#two-d-model-area {
    height: 100%;
}

.two-d-model-table {
    margin-left: auto;
    margin-right: auto;
}

.two-d-model-button {
    margin: 2px;
}

#two-d-model-left-window, #two-d-model-right-window {
    position: absolute;
    width: 260px; /*Width of left frame div*/
    top: 70px;
    left: 10px;
    bottom: 10px;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    text-align: center;
}

#two-d-model-right-window {
    left: auto;
    width: 210px; /*Width of right frame div*/
    top: 70px;
    right: 10px;
    bottom: 10px;
    background: #ffffff;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    border: 1px solid gray;
    box-sizing: border-box;
}

#two-d-model-scene-area {
    position: fixed;
    top: 70px;
    left: 280px;
    right: 230px;
    bottom: 10px;
    overflow: auto;
    border: 1px solid gray;
    box-sizing: border-box;
    background: #ffffff;
}

.innertube {
    margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.tabbable {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 210px;
}

#two-d-model-left-tabs-content {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
    background: #ffffff;
}

#two-d-mpde-left-control-buttons-area {
    position: absolute;
    height: 200px;
    left: 0;
    bottom: 0;
    right: 0;
}

#pen-settings {
	border: 1px solid gray;
    box-sizing: border-box;
	padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.palette-left-button {
    width: 80px;
    height: 30px;
}

.palette-right-button {
    width: 80px;
    height: 30px;
    margin-left: 15px;
}

.two-d-model-spinner {
    width: 200px;
}

.two-d-model-dropdown {
    width: 200px;
}

ul.nav.nav-tabs {
    height: 40px;
    font: 13px Arial, sans-serif;
}

ul.nav.nav-tabs li a {
    height: 40px;
}

#configurationDropdowns {
    overflow: auto;
}

#hide-controller-model-button {
    position: absolute;
    top: 5px;
    right: 15px;
}

#controller {
    position: absolute;
    top: 5px;
    left: 10px;
    right: 10px;
    width: 190px;
    height: 296px;
}

#display {
    z-index: -1;
    position: absolute;
    background: #a0a0a4;
    top: 65px;
    right: 59px;
    width: 87px;
    height: 125px;
}

#led {
    position: absolute;
    background: red;
    top: 50px;
    right: 97px;
    width: 12px;
    height: 4px;
}

#hide-controller-model-area {
    position: absolute;
    color: lightgrey;
    cursor: pointer;
    top: 20px;
    right: 24px;
}

.port-name {
    position: absolute;
    font-size: 12pt;
    color: lightgrey;
}

#port-M1 {
    top: 45px;
    right: 160px;
}

#port-M2 {
    top: 45px;
    right: 25px;
}

#port-M3 {
    top: 245px;
    right: 160px;
}

#port-M4 {
    top: 245px;
    right: 25px;
}

#sayAlert {
    display: none;
    z-index: 1000;
    position: fixed;
    left: 290px;
    top: 75px;
    opacity: 0.9;
}

#wall-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

