<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
    <Appenders>
        <Appender type="Console" name="Main">
            <Layout type="PatternLayout" pattern="[user-service] %d{HH:mm:ss} %C.%M -- %m%n%ex%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <logger name="org.hibernate" level="ERROR" additivity="false">
            <AppenderRef ref="Main"/>
        </logger>

        <logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="Main"/>
        </logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Main"/>
        </Root>
    </Loggers>

</Configuration>
